* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 16px 'Roboto', sans-serif;
}

body{
    background: url("img/background.png");
    background-size: cover;
}

h1{
    text-align: top;
    color: rgb(129, 129, 129);
    margin-top: -7px;
    margin-bottom: 10px;
}

.calculator{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.426);
    text-align: center;
    border-radius: 15px;
    outline: none;
}

#display{
    margin-bottom: 10px;
    background-color: #333333a9;
    border-radius: 5px;
    padding: 6px;
    color: rgb(138, 138, 138);
    outline: none;
    display: block;
    border: none;
    width: 100%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

button{
    flex: 1 1;
    padding: 10px 20px;
    background-color: #9e0404a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.clear{
    flex: 1 1;
    padding: 10px 20px;
    background-color: #000000a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    box-sizing: border-box;
}